#internal
{
   background-color: darkgrey;
}
#internal2{
    background-color: lightgoldenrodyellow;
}
*{
    background-color: lavender;
}
.internal3{
    background-color: lightpink;
}
h3{
    background-color: aliceblue;
}
.internal4{
    background-color: lightslategray;
}